# ──────────────────────────────────────────────────────────────────────────────
# Server
# ──────────────────────────────────────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ──────────────────────────────────────────────────────────────────────────────
# MySQL
# ──────────────────────────────────────────────────────────────────────────────
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=stake_mine
MYSQL_USER=yash
MYSQL_PASSWORD=yash123

# ──────────────────────────────────────────────────────────────────────────────
# Redis
# ──────────────────────────────────────────────────────────────────────────────
REDIS_HOST=redis
REDIS_PORT=6379

# ──────────────────────────────────────────────────────────────────────────────
# Cache TTL (seconds)
# ──────────────────────────────────────────────────────────────────────────────
REDIS_CACHE_TTL=3600
